{% extends 'base.html.twig' %}

{% block title %}Home index{% endblock %}

{% block body %}

 <nav class="navbar">
    <a href="/home" class="lien logo"> A & J's WEDDING </a>

    <div class="nav-links">
      <ul>
        <li class="lien active"><a href="/home">HOME</a> </li> 
        <li><a class="lien" href="/story">OUR STORY</a> </li>
        <li><a class="lien" href="/gallery">OUR GALLERY</a> </li>
        
        <li><a class="lien" href="/menu">MENU </a></li>
        <li><a class="lien" href="/info">RSVP & INFOS </a></li>
      </ul>
    </div> 

    <i class="fa-solid fa-bars" alt="menu burger" id="menu-hamburger" style="color:white"></i>


    </nav>
 
 
<header></header>
   
<body class="home">
<div class="container"> 

    <h1 class="ml16" style='color:#67595E;'> 03 • 12 • 2023 </h1>
    <h1 class="ml16"style='color:#67595E;'> - March 12th, 2023 -</h1>

    <h3 class="ml16"> Forest Park </h3>
    <h3 class="ml16"> 4099 NW Thurman St Portland OR </h3>

<div id="countdown" class="mb-5">
	<section class="container">
		<div class="row text-center mx-auto">
			<div class="col-lg-12">
				<h1 class="text-center"> Coming soon ... </h1>
			</div>
			
			<div class="col-lg-3 col-md-3 col-sm-3 col-3">
				<span id="countdown_day" class="compterebour">--</span><br>
				<p>D</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-3">
				<span id="countdown_hour" class="compterebour">--</span><br>
				<p>H</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-3">	
				<span id="countdown_min" class="compterebour">--</span><br>
				<p>M</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-3">	
				<span id="countdown_sec" class="compterebour">--</span><br>
				<p>S</p>
			</div>
			
		</div>
	</section> 
</div> 

    <div class="map">

        <h3 style='color:white '>YOU HAVE NO IDEA HOW TO GET THERE ?</h3>
        <button><a class="btnHome" href="{{ path('app_info') }}" >CLICK HERE ! <i class="fa-regular fa-heart"></i> </button>
       

    </div>



</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="script.js"></script>	


<script>


countdownManager = {
    // Configuration
    //var end = new Date(end_date.replace(/-/g, '/'));
    //var end = moment(end_date, '2018-03-08 00:00:00').toDate();
    targetTime: new Date('2023/03/12 00:00:00'), // Date cible du compte à rebours (00:00:00)
    displayElement: { // Elements HTML où sont affichés les informations
        day:  null,
        hour: null,
        min:  null,
        sec:  null
    },
     
    // Initialisation du compte à rebours (à appeler 1 fois au chargement de la page)
    init: function(){
        // Récupération des références vers les éléments pour l'affichage
        // La référence n'est récupérée qu'une seule fois à l'initialisation pour optimiser les performances
        this.displayElement.day  = jQuery('#countdown_day');
        this.displayElement.hour = jQuery('#countdown_hour');
        this.displayElement.min  = jQuery('#countdown_min');
        this.displayElement.sec  = jQuery('#countdown_sec');
         
        // Lancement du compte à rebours
        this.tick(); // Premier tick tout de suite
        window.setInterval("countdownManager.tick();", 1000); // Ticks suivant, répété toutes les secondes (1000 ms)
    },
     
    // Met à jour le compte à rebours (tic d'horloge)
    tick: function(){
        // Instant présent
        var timeNow  = new Date();
         
        // On s'assure que le temps restant ne soit jamais négatif (ce qui est le cas dans le futur de targetTime)
        if( timeNow > this.targetTime ){
            timeNow = this.targetTime;
        }
         
        // Calcul du temps restant
        var diff = this.dateDiff(timeNow, this.targetTime);
         
        this.displayElement.day.text(  diff.day  );
        this.displayElement.hour.text( diff.hour );
        this.displayElement.min.text(  diff.min  );
        this.displayElement.sec.text(  diff.sec  );
    },
     
    // Calcul la différence entre 2 dates, en jour/heure/minute/seconde
    dateDiff: function(date1, date2){
        var diff = {}                           // Initialisation du retour
        var tmp = date2 - date1;
 
        tmp = Math.floor(tmp/1000);             // Nombre de secondes entre les 2 dates
        diff.sec = tmp % 60;                    // Extraction du nombre de secondes
        tmp = Math.floor((tmp-diff.sec)/60);    // Nombre de minutes (partie entière)
        diff.min = tmp % 60;                    // Extraction du nombre de minutes
        tmp = Math.floor((tmp-diff.min)/60);    // Nombre d'heures (entières)
        diff.hour = tmp % 24;                   // Extraction du nombre d'heures
        tmp = Math.floor((tmp-diff.hour)/24);   // Nombre de jours restants
        diff.day = tmp;
 
        return diff;
    }
};
 
jQuery(function($){
    // Lancement du compte à rebours au chargement de la page
    countdownManager.init();
});






// Wrap every letter in a span
var textWrapper = document.querySelector('.ml16');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml16 .letter' ,
    translateY: [-100,0],
    easing: "easeOutExpo",
    duration: 2000,
    delay: (el, i) => 30 * i
  }).add({
    targets: '.ml16' ,
    opacity: 1,
    duration: 3000,
    easing: "easeOutExpo",
    delay: 1000
  });
</script>

</body>
{% endblock %}
