{% extends 'base.html.twig' %}

{% block title %}Story index{% endblock %}

{% block body %}
 <div class="navbarGallery">
<nav class="navbar">
    <a href="/home" class="lien logo"> A & J's WEDDING </a>

    <div class="nav-links">
      <ul>
        <li class="lien active"><a href="/home">HOME</a> </li> 
        <li><a class="lien" href="/story">OUR STORY</a> </li>
        <li><a class="lien" href="/gallery">OUR GALLERY</a> </li>
        
        <li><a class="lien" href="/menu">MENU </a></li>
        <li><a class="lien" href="/info">RSVP & INFOS </a></li>
      </ul>
    </div> 
</div>
    <i class="fa-solid fa-bars" alt="menu burger" id="menu-hamburger" style="color:white"></i>


    </nav>
 
<header class="headerStory"> 

  <h2 class="h2Story d-flex justify-content-center"> Our story -  made with love </h2>

</header>



<body class="story">
 
    
    <div class="article">

        <div class="txtArt "> 
        <h3 class="h3Story" style='color:#67595E;'> We are together !</h3>
        <p style='color:#67595E;'> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel eros accumsan, varius velit sed, rhoncus elit. Sed ultricies, neque tincidunt facilisis auctor, tellus diam posuere ex, sit amet tincidunt nisi sapien vitae justo. Pellentesque consequat mattis nisl, sit amet hendrerit magna interdum sed. Nunc at facilisis velit, ut tincidunt ex. Quisque at erat eu ante pulvinar mollis. Vestibulum sed volutpat turpis. Donec congue erat vitae diam malesuada fringilla. Aenean molestie finibus accumsan. Pellentesque lacus magna, rutrum bibendum metus a, vulputate posuere erat. Morbi vel iaculis velit. </p>
        </div>
      

    </div>

    <div class="arts">

       <div class="art1">
       <div class="txt1">
       <h3 class="h3Story">Love at first sight</h3>
       <p>Duis euismod magna ipsum. Integer quam magna, lacinia vitae massa in, facilisis elementum neque. Phasellus turpis orci, tincidunt at egestas vehicula, mollis posuere eros. Morbi at elit varius, suscipit dui et, dignissim lorem. Curabitur molestie diam in nulla tempus posuere. Integer convallis ex a arcu sollicitudin, ut varius ligula fringilla. Maecenas mattis orci massa, a feugiat diam euismod sed. Donec convallis accumsan lorem a hendrerit.</p> 

       <input type="checkbox" checked="checked" id="favorite" name="favorite-checkbox" value="favorite-button">
       <label for="favorite" class="container">
       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
       <div class="action">
       <span class="option-1">Add to Favorites</span>
       <span class="option-2">Added to Favorites</span>
       </div>
       </label>
       </div>


       <div> <img src="https://img.freepik.com/free-photo/young-bride-groom-having-beach-wedding_23-2149043996.jpg?w=1380&t=st=1675880962~exp=1675881562~hmac=4e5a2e114f0c67c26d2cdddec36c1cf99e60959d17a9c17dac5134ad14b6dee3" class="artImg"alt=""></div>
       </div>



       <div class="art2">
       <div> <img src="https://img.freepik.com/free-photo/bride-groom-holding-their-rings_23-2149043976.jpg?w=1380&t=st=1675881031~exp=1675881631~hmac=b2d0d0d67dd3acdad860d840012271af568aa0a4cff2456a29f478fc1c7dc5f7" class="artImg" alt=""></div>
       <div class="txt2">
       <h3 class="h3Story">She said yes !</h3>
       <p>Proin viverra neque massa, sit amet convallis lorem dictum sed. Curabitur euismod id enim nec viverra. Vivamus eu tristique quam, eu mattis metus. Maecenas eget purus libero. Nullam gravida mauris quis justo egestas, et faucibus mauris efficitur. Etiam elementum leo vel aliquet posuere. Nunc efficitur tellus quis tellus consectetur dictum. Sed augue odio, tempus et euismod in, vulputate vitae justo. Maecenas feugiat eros ac enim porta pulvinar.</p>

       <input type="checkbox" checked="checked" id="favorite" name="favorite-checkbox" value="favorite-button">
       <label for="favorite" class="container">
       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
       <div class="action">
       <span class="option-1">Add to Favorites</span>
       <span class="option-2">Added to Favorites</span>
       </div>
       </label>
       </div>

       
    
    
    </div>





 

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>


<script>

anime.timeline({loop: true})
 .add({
    targets: '.ml5 .line',
    duration: 600,
    easing: "easeOutExpo",
    translateY: (el, i) => (-0.625 + 0.625*2*i) + "em"
  }).add({
    targets: '.ml5 .ampersand',
    opacity: [1],
    scaleY: [0.5, 1],
    easing: "easeOutExpo",
    duration: 1000,
    offset: '-=600'
  }).add({
    targets: '.ml5 .letters-left',
    opacity: [1],
    translateX: ["0.5em", 0],
    easing: "easeOutExpo",
    duration: 1000,
    offset: '-=300'
  }).add({
    targets: '.ml5 .letters-right',
    opacity: [1],
    translateX: ["-0.5em", 0],
    easing: "easeOutExpo",
    duration: 1000,
    offset: '-=600'
  }).add({
    targets: '.ml5',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 4000
  });

</script>
</body>
{% endblock %}
