.divMenu { 

    background-color: #FAF7F4;
}

.App { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  
}

#imgAPP { 
  
  
}

.MainC { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dessert { 
    display: flex;
    justify-content: center;
    align-items: center;
  
}

