
* {  
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    
}

header { 
    height: 20vh;
    width: 100vw;
} 

.logo { 
    font-family: 'Bad Script', sans-serif;
}
.navbar { 
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    position: absolute;
    z-index: 2;
} 

.navbar a { 
    color: white;
}

.navbar .logo { 
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul { 
    display: flex;
} 

.navbar .nav-links ul li { 
    margin: 0 25px;
  
} 

.navbar .nav-links ul li:hover { 
  cursor: pointer;
  font-weight: 600;
  
}

a:before, a:after { 
    content:"";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #FAF7F4;
    transition: .5s;
} 

a:after { 
    left:0;
    bottom: -10px;
}

a::before { 
    right: 0;
    top: -10px;
}

a:hover:after , a:hover::before { 
    width: 100%;
} 

a { 
    position: relative;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: .5px;
    padding: 0 20;
}

.navbar i#menu-hamburger  { 
    display: none; ;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;

}

@media screen and (max-width: 900px) {

    .navbar  i#menu-hamburger { 
        display: block;
    }
    .nav-links { 
        display: none;
    }

}
.home{
	width:100%;
	height:100%;
	background: linear-gradient( rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)),url("https://img.freepik.com/free-photo/top-view-flowers-leaves_23-2148202254.jpg?w=1480&t=st=1675782420~exp=1675783020~hmac=7d965dddb893fecdf0f64f911cc09068f276649ba1b6b95ed5faaf91611fae06") center center no-repeat fixed;
	background-size: cover;
	color:#000;
}

section p{
	font-weight:bold;
	color:#fff;
	font-size: 20px;
}

#countdown{
	padding-top:3%;
	padding-bottom:3%;
	margin-top:10%;
	background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    border-radius: 15px;
}

#countdown h1{
	color:#FFF;
	text-transform:uppercase;
    font-family: 'Bad Script', sans-serif;
    
}

.compterebour {
	text-align:center;
	width: 70%;
    background: #FFF;
    color: #000;
    font-size: 25px;
    padding: 20%;
    margin-top: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: inline-block;
}

.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding-top: 30px;
    font-family: 'Bad Script', sans-serif;
   
}

.ml16 {
   
    color: #402d2d;
    padding: 15px 0;
    overflow: hidden;
  }
  
  .ml16 .letter {
    display: inline-block;
 
  } 
 

  button {
    --green: #FAF7F4;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(232, 238, 236, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(244, 252, 248, 0.4), 0 0 9px 3px rgba(221, 225, 223, 0.1);
    margin: 15px;
   
   }
   
   button:hover {
    color: #FAF7F4;
    box-shadow: inset 0 0 10px #FAF7F4(27, 253, 156, 0.6);
   }
   
   button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(230, 235, 233, 0.1) 40%,rgba(230, 235, 233, 0.1) 60% , transparent 100%);
   }
   
   button:hover:before {
    transform: translateX(15em);
   } 

   .map { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
   }

   .story { 
    width:100%;
	height:100%;
	background-color: white;
    
   }

   #pp { 
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin: 0;

   }

   #pp img { 

    height: 350px;
    width: 290px;
    margin:  30px 100px;
    border: 1px solid beige;
    border-radius: 25% 10%;
    box-shadow: 12px 12px 2px 1px #e9dddd;
    transition: .1s;
   
   }

   #pp img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
   } 


#pp { 
    
    background-color: #FAF7F4;
    display: flex;
    justify-content: center;
    padding:  20px 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0px 2px 2px #A49393;
    
}

.titreStory { 
    font-family: 'Bad Script', sans-serif;
}



.text-wrapper .letters {
   
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 180px;
    font-family:'Arial', sans-serif;
    font-size: 40px;

  }
  


  .headerStory { 
    height: 250px;
	background: linear-gradient( rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)),url("https://img.freepik.com/premium-photo/mock-up-composition-white-flowers-rustic-style_81863-382.jpg?w=1380") center center no-repeat fixed ;
    background-size: cover;
    position: relative;
    z-index: 1;
    /*https://img.freepik.com/free-photo/high-angle-engagement-rings-beside-flowers_23-2148480738.jpg?w=1380&t=st=1675863893~exp=1675864493~hmac=4de15f6cdc51e5c2393d8a4454503e654e96eb312c9f4585620a505f23e1c23f*/ 
  }

  .gallery {
    display: flex;
    width: 90%;
    
    
  }
  
  .gallery img {
    min-width: 0;
    flex: 1 1 10px;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.6s;
    
  }
  
  .gallery img:hover {
    flex: 1 1 600px;
    opacity: 1;
    border-radius: 10px;
  }

  .h2Story { 
    position: absolute;
    z-index: 3;
    left: 35%;
    top: 55%;
    color: white;
    text-transform:uppercase;
    font-family: 'Courier New', Courier, monospace;
  } 

  .cardC  { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    transition: .1s;
    margin-top: 10px;
    text-shadow: 0px 2px 2px #F6CBB7;
   
    
    
}
.card-body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF7F4; 
} 

.card:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
   }  
   
   
   .article { 
    height: 700px;
    width: 50%;
    background-image: url("https://img.freepik.com/premium-photo/watercolor-botanical-green-leaves-frame-illustration-isolated_202769-4332.jpg?w=996");
    
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    position: relative;
    z-index: 1;
    left: 25%;
   
   }

   .txtArt { 

    height: 400px;
    width: 500px;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center; 
    position: absolute;
    z-index: 2;
    bottom:12%;
    left:27%
   }

   .headerGallery { 
    height: 250px;
	background: linear-gradient( rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)),url("https://img.freepik.com/premium-photo/mock-up-composition-white-flowers-rustic-style_81863-382.jpg?w=1380") center center no-repeat fixed ;
    background-size: cover;
    
    position: relative;
    z-index: 1;
    /*https://img.freepik.com/free-photo/high-angle-engagement-rings-beside-flowers_23-2148480738.jpg?w=1380&t=st=1675863893~exp=1675864493~hmac=4de15f6cdc51e5c2393d8a4454503e654e96eb312c9f4585620a505f23e1c23f*/ 
  }

  .h2Gallery { 
    position: absolute;
    z-index: 3;
    left: 35%;
    top: 55%;
    color: white;
    text-transform:uppercase;
    font-family: 'Courier New', Courier, monospace;;
  } 

  .arts { 
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    

  }
 .artImg { 
    height: 400px;
    width: 600px;
   

 }

  .art1 , .art2 { 

    display: flex;
    flex-direction: row;
    height: 430px;
    width: 1000px;
    border: 5px solid #D6AD60;
    padding: 15px;
    display: flex;
   

  }

  .txt1 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    color:#67595E;
  }

  .txt2 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color:#67595E;
    

  }

  .h3Story { 
    font-family: 'Bad Script', sans-serif;
    margin: 5px;;
  }

  .art1 { 
    display: flex;
    justify-content: center;
    margin: 20px 350px;
   

  }

  .art2 { 
    display: flex;
    justify-content: center;
    margin: 30px;
  }

  label {
 
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    color: black;
   }
   
   input {
    display: none;
   }
   
   input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
   }
   
   @keyframes heartButton {
    0% {
     transform: scale(1);
    }
   
    25% {
     transform: scale(1.3);
    }
   
    50% {
     transform: scale(1);
    }
   
    75% {
     transform: scale(1.3);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
   input + label .action {
    position: relative;
    overflow: hidden;
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    
   }
   
   input + label .action span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
   }
   
   input + label .action span.option-1 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   input:checked + label .action span.option-1 {
    transform: translate(0px,-100%);
    opacity: 0;
   }
   
   input + label .action span.option-2 {
    transform: translate(0px,100%);
    opacity: 0;
   }
   
   input:checked + label .action span.option-2 {
    transform: translate(0px,0%);
    opacity: 1;
   }

