{% extends 'base.html.twig' %}

{% block title %}Gallery index{% endblock %}

{% block body %}
    <div class="navbarGallery " style="background-color:;">
<nav class="navbar">
    <a href="/home" class="lien logo"> A & J's WEDDING </a>

    <div class="nav-links">
      <ul>
        <li class="lien active"><a href="/home">HOME</a> </li> 
        <li><a class="lien" href="/story">OUR STORY</a> </li>
        <li><a class="lien" href="/gallery">OUR GALLERY</a> </li>
        
        <li><a class="lien" href="/menu">MENU</a></li>
        <li><a class="lien" href="/info">RSVP & INFOS </a></li>
      </ul>
    </div> 

    <i class="fa-solid fa-bars" alt="menu burger" id="menu-hamburger" style="color:white"></i>


    </nav>

    <header class="headerGallery">
    <h2 class="h2Gallery d-flex justify-content-center"> Our gallery -  made with love </h2>
    </header>


    <body class="galerie">
    
     


   <h3 class="titreStory d-flex justify-content-center m-5" style='color:#67595E;'> Some pictures of us ! - <i class="fa-regular fa-heart"> </i>-</h3> 


<div class="container">
<div class="gallery">
  
  <img src="https://img.freepik.com/free-photo/beautiful-bride-groom-having-beach-wedding_23-2149043972.jpg?w=1380&t=st=1675862306~exp=1675862906~hmac=17742bd22b8e0a408782f21a277a24f048a9d29f58602fce0595994c00e807c9" />
  <img src="https://img.freepik.com/free-photo/beautiful-bride-groom-having-their-wedding-with-guests-beach_23-2149043999.jpg?w=1380&t=st=1675862379~exp=1675862979~hmac=1796004e1c840bcc20b9d3ff5b9f63bb838819d12b74f52c1fe125fc7ec5cb8f" />
  <img src="https://img.freepik.com/free-photo/beautiful-bride-having-her-wedding-beach_23-2149043951.jpg?w=1380&t=st=1675861911~exp=1675862511~hmac=7f4707202efc34981bb315026b6ab5d756c0406531f6d0944fe46c3cfe9f707a" />
  <img src="https://img.freepik.com/free-photo/beautiful-bride-groom-having-beach-wedding_23-2149043969.jpg?w=1380&t=st=1675862303~exp=1675862903~hmac=5a3768966d2010676666e5b3c230b1c46366f25e020c5987d418cbe7d511acbf" />
  
  <img src="https://img.freepik.com/free-photo/young-bride-groom-having-beach-wedding_23-2149043974.jpg?w=1380&t=st=1675861944~exp=1675862544~hmac=4a5dda9a10ac770c66f98e550108ccabdca34b3043e8a71f0f67b64909e203a4" />
</div>

   
</div>  



<h3 class="titreStory d-flex justify-content-center m-5" style='color:#67595E;'> The newlyweds -<i class="fa-regular fa-heart"></i>-</h3> 
   <div id="pp"> 
   
     <div class="mrs"> <img src="https://img.freepik.com/free-photo/beautiful-bride-portrait-beach_23-2149044002.jpg?w=740&t=st=1675806312~exp=1675806912~hmac=5a18d9c29eab060ea8f13d1ff874966d68c2ee805f858073127924b71925d937" alt="" ></div>

    
    <div class="text-wrapper">
    <div class="letters "style='color:#67595E;'> <strong> Amelia & Joseph </strong></div>
 
  </div>
       


<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>



   
    <div class="mr"> <img src="https://img.freepik.com/free-photo/portrait-handsome-groom-his-beach-wedding_23-2149044004.jpg?w=740&t=st=1675806334~exp=1675806934~hmac=8ea6268e1e32fb2d6208eb3d71ef947bbaced33ba74a60fd2001aa3dbcb875ed" alt="">
    </div>
</div> 




    <h3 class="titreStory d-flex justify-content-center m-5" style='color:#67595E;'> Our bridemaids & groomsmen -<i class="fa-regular fa-heart"></i>-</h3> 

    <div class="cardC" >
    

       <div class="card" style="width: 18rem;">
       <img src="https://img.freepik.com/free-photo/portrait-handsome-best-man_23-2149044030.jpg?w=740&t=st=1675866496~exp=1675867096~hmac=1bf1d4f82dafc6ae1bd29fe317739fb92631428d1499a0c0f6cceb31681c1aa4" class="card-img-top" alt="...">
       <div class="card-body">
       <h4 class="" style='color:#67595E;'>Scott Freeman</h4>
       <p class="card-text " style='color:#67595E;'>GROOMSMEN</p>
       </div>
       </div> 


       <div class="card" style="width: 18rem;">
       <img src="https://img.freepik.com/free-photo/portrait-attractive-young-couple-love-outdoors_1328-4985.jpg?w=740&t=st=1675866636~exp=1675867236~hmac=ecf3d82c2e467cc3d3707aa062d2b4c2dba61e1daed5d3af9b8dcaf6feef6ce7" class="card-img-top" alt="...">
       <div class="card-body">
       <h4 class="" style='color:#67595E;'>Kiara Barrett</h4>
       <p class="card-text " style='color:#67595E;'>BRIDEMAIDS</p>
       </div>
       </div>

       <div class="card" style="width: 18rem;">
       <img src="https://img.freepik.com/free-photo/portrait-handsome-best-man_23-2149044032.jpg?w=740&t=st=1675866495~exp=1675867095~hmac=0237643633a9a7044822a25cb364d3bddf0336d50993586a410936d8a1840a3e" class="card-img-top" alt="...">
       <div class="card-body">
       <h4 class="" style='color:#67595E;'>Cody James</h4>
       <p class="card-text " style='color:#67595E;'>GROOMSMEN</p>
       </div>
       </div>

       <div class="card" style="width: 18rem;">
       <img src="https://img.freepik.com/free-photo/beautiful-bride-wearing-green-wedding-dress_1328-3431.jpg?w=740&t=st=1675866830~exp=1675867430~hmac=3aab3169cffd620f7d124ba32129edf4aeca75de6e457ca7dad25cf5c9193d60" class="card-img-top" alt="...">
       <div class="card-body">
       <h4 class="" style='color:#67595E;'>Hannah Mullen</h4>
       <p class="card-text " style='color:#67595E;'>BRIDEMAIDS</p>
       </div>
       </div>

    </div>
    
    
    </body>
{% endblock %}
