{% extends 'base.html.twig' %}
   {% block body %}

<p>Hello, {{ data.name  }} !</p>
<p> Your message " {{ data.message  }} " is send ! You'll get a mail confirmation for the reservation for " {{ data.numberGuests  }} " person on this adress : {{ data.email  }} </p>
<p> Thank you & see you soon ! </p>
  
  
   
   {% endblock %}