<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="https://media.discordapp.net/attachments/290242065277648897/1072586733805375621/Capture_decran_2023-02-07_a_19.36.32.png">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/boostrap.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bad+Script&family=Neucha&display=swap" rel="stylesheet">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %} 
 </head> 
<body>
    <nav class="navbar">
    <a href="/home" class="logo"> A & J's WEDDING </a>

    <div class="nav-links">
      <ul>
        <li class="active"><a href="/home">HOME</a> </li> 
        <li><a href="/story">OUR STORY</a> </li>
        <li><a href="#">MENU & ACTIVITIES</a></li>
        <li><a href="#">RSVP & INFOS </a></li>
      </ul>
    </div> 

    <i class="fa-solid fa-bars" alt="menu burger" id="menu-hamburger" style="color:white"></i>


    </nav>
 
 
<header></header>
   


 
        {% block body %}{% endblock %}
    </body>

   
</html>
