<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="https://media.discordapp.net/attachments/290242065277648897/1072586733805375621/Capture_decran_2023-02-07_a_19.36.32.png">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/menu.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bad+Script&family=Neucha&display=swap" rel="stylesheet">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %} 
 </head> 
<body>
    <div class="menu-container" id='menu-container'>
        <nav class="menu-burger">
            <ul>
                <li class="lien active"><a href="/home">HOME</a> </li> 
                <li><a class="lien" href="/story">OUR STORY</a> </li>
                <li><a class="lien" href="/gallery">OUR GALLERY</a> </li>
                
                <li><a class="lien" href="/menu">MENU </a></li>
                <li><a class="lien" href="/info">RSVP & INFOS </a></li>
    
            </ul>
        </nav>
    </div>
     {% block body %}{% endblock %}
</body>

   
</html>

        <script>
            const menuHamburger = document.getElementById('menu-hamburger');
            menuHamburger.onclick = function() {
                const menu = document.getElementById('menu-container');
                menu.classList.toggle('open');    
                
            }

        </script>