{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}
  <div class="navbarStory">
<nav class="navbar">
    <a href="/home" class="logo"> A & J's WEDDING </a>

    <div class="nav-links">
      <ul>
        <li class="active"><a href="/home">HOME</a> </li> 
        <li><a href="/story">OUR STORY</a> </li>
        <li><a href="/gallery">OUR GALLERY</a> </li>
        
        <li><a href="/menu">MENU & ACTIVITIES</a></li>
        <li><a href="/info">RSVP & INFOS </a></li>
      </ul>
    </div> 

    <i class="fa-solid fa-bars" alt="menu burger" id="menu-hamburger" style="color:white"></i>


    </nav>
 
 
<header class="headerStory"> 

  <h2 class="h2Story d-flex justify-content-center"> Our menu & activities -  made with love </h2>

</header>
{% endblock %}
